xterm*faceName: Iosevka Term
xterm*faceSize: 10
xterm*renderFont: true


! VT Font Menu: Unreadable
xterm*faceSize1: 8
! VT font menu: Tiny
xterm*faceSize2: 10
! VT font menu: Medium
xterm*faceSize3: 12
! VT font menu: Large
xterm*faceSize4: 16
! VT font menu: Huge
xterm*faceSize5: 22

xterm*VT100.Translations: #override \
    Ctrl <Key> minus: smaller-vt-font() \n\
    Ctrl <Key> plus: larger-vt-font() \n\
    Ctrl <Key> 0: set-vt-font(d)



! Only select text
xterm*highlightSelection: true
! Remove trailing spaces
! font settings --------------------------------------------------------------

Xft.autohint: true
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
!Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault


xterm*trimSelection: true

! Lines of output that you can scroll back over
xterm*saveLines: 4096
! Turn the scrollbar on, and put it on the right
xterm*scrollBar: false
xterm*rightScrollBar: false

! Do not scroll when there is new input e.g. tail -f /var/syslog
xterm*scrollTtyOutput: false

! Theme: Tempus Warp
! Description: Dark theme with a vibrant palette (WCAG AA compliant)
! Author: Protesilaos Stavrou (https://protesilaos.com)
xterm*background: #141a19
xterm*foreground: #928f90
xterm*cursorColor: #928f90
xterm*color0: #141a19
xterm*color1: #ff1414
xterm*color2: #009600
xterm*color3: #928100
xterm*color4: #4f76ff
xterm*color5: #dd38bc
xterm*color6: #358aaa
xterm*color7: #927b80
xterm*color8: #201428
xterm*color9: #ff5500
xterm*color10: #3aa43a
xterm*color11: #b38a00
xterm*color12: #8082ff
xterm*color13: #d159fd
xterm*color14: #1da190
xterm*color15: #928f90








! urxvt -------------------------------------------

URxvt.font: xft:Iosevka Term:size=10 :antialias=true:autohint=false
URxvt.boldFont: xft:Iosevka Term:Bold:size=10 :antialias=true:autohint=false

! Add fallback fonts as laid out in `man 1 urxvt` under "font:" in the RESOURCES section

! Window size and position
!URxvt*geometry: 60x22+50+100
! Window size, let the Window Manager position it
URxvt.geometry: 80x28

URxvt.scrollBar: false

! scrollback buffer lines - 65535 is max (64 is default)
URxvt.saveLines:8192


! Clickble URLs
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/chromium
URxvt.matcher.button: 3


! Base16 Harmonic16 Dark
! Scheme: Jannik Siebert (https://github.com/janniks)

#define base00 #0b1c2c
#define base01 #223b54
#define base02 #405c79
#define base03 #627e99
#define base04 #aabcce
#define base05 #cbd6e2
#define base06 #e5ebf1
#define base07 #f7f9fb
#define base08 #bf8b56
#define base09 #bfbf56
#define base0A #8bbf56
#define base0B #56bf8b
#define base0C #568bbf
#define base0D #8b56bf
#define base0E #bf568b
#define base0F #bf5656

URxvt*foreground:   base05
#ifdef background_opacity
URxvt*background:   [background_opacity]base00
#else
URxvt*background:   base00
#endif
URxvt*cursorColor:  base05

URxvt*color0:       base00
URxvt*color1:       base08
URxvt*color2:       base0B
URxvt*color3:       base0A
URxvt*color4:       base0D
URxvt*color5:       base0E
URxvt*color6:       base0C
URxvt*color7:       base05

URxvt*color8:       base03
URxvt*color9:       base09
URxvt*color10:      base01
URxvt*color11:      base02
URxvt*color12:      base04
URxvt*color13:      base06
URxvt*color14:      base0F
URxvt*color15: base07





